.container{
    

    background-color:white;
    flex-grow: 1;
    border-radius: 20px;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    flex-basis: 50%;
    
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5%;
    flex-grow: 1;

}
.middle{
    margin-bottom: 2.5%;
    font-weight: 600;
    font-size: clamp(20px,2vw,25px);
    flex-grow: 1;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5%;
    flex-grow: 1;
    color: #C0C0C0;
    font-size: 14px;
}

.container:nth-of-type(1){
    margin-right: 2.5%;
}

.flexEnd{
    justify-content: flex-end;
}




.helpIcon{
    background-color: #DCF9F7;

    border-radius: 50%;
    padding: 2.5%;


    min-height: 5px;
    min-width: 5px;

    width: 2vmax;
    height: 2vmax;
    
    max-height: 15px;
    max-width: 15px;

}
.svgIcon{
    background-color: #DCF9F7;

    border-radius: 30%;
    padding: 10px;

    min-height: 15px;
    min-width: 15px;

    width: 2vmax;
    height: 2vmax;
    
    max-height: 25px;
    max-width: 25px;
}



