.chartContainer{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* background-color: blue; */
    margin-bottom: 10px;
    /* aspect-ratio: 16 / 9; */
}
.chartContainer svg{
    position: absolute;
}