.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    height: 20%;
    color: #051c1b;
    font-weight: 600;
    font-size: 2vw;
}

