.svg{
    flex-grow: 1;
    /* width: 100%;
    height: 100%; */
}
.svg text{
    font-size: clamp(10px, 1vw, 16px);
    font-family: Helvetica;

}
.xAxis line{
    stroke-width: 0.5px;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;

} 