.container {
    width: 100%;
    height: 100%;
    display: flex;
    /* https://stackoverflow.com/questions/33636796/chrome-safari-not-filling-100-height-of-flex-parent */
    /* setting height width to 100% or inherit doesnt work for containter even though its not directly a flex item */
}
.container svg{
    flex-grow: 1;
    /* fills container */
}
