
.container{
    position: fixed;
    width: 15vw;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    overflow-x: scroll;
}

.top {
    width: inherit;
    display: flex;
    flex-direction: column;
}
.bottom {
    width: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
}