.cardWrapper {
  position: relative;
  /* position relative removes need for taking margin/padding into account */
  border-radius: 20px;
  border: 1px solid #e0e0e4;
  background-color: #fff;
  width: 100%;
  /* 16:9 apsect ratio */
  padding-bottom: 56.25%;
  margin: 10px 0px;
}
.cardWrapperMobile {
  /* 4:3 apsect ratio */
  padding-bottom: 75%;
}
.content {
  position: absolute;
  border: 1px solid red;
  width: 100%;
  /* 40px of padding from Layout + 20px of margin from cardWrapper class above */
  height: 100%;
  padding: 5px;
  
}
