.svg{
    flex-grow: 1;
}
.container {
    height: 100%;
    /* takes up have of its container... */
    width: 50%;
    display: flex;

  } 
.vertical {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.pieLegend{
    width: 50%;
    padding-right: 0 !important;
    padding-left: 1% !important;
}
.pieLegend div{
    flex-grow: 1;
}
.textTop{
    text-anchor: middle;
    font-weight: bold;
    font-size: clamp(40px, 2vmax, 50px);
}
.textBottom{
    text-anchor: middle;
    fill: #c0c0c0;
    font-weight: bold;
    font-size: clamp(20px, 1vmax, 30px);
}
