.xAxis line {
  opacity: 0;
}
.xAxis path {
  opacity: 0;
}
.yAxis line {
  opacity: 0;
}
.yAxis path {
  opacity: 0;
}
.grid line {
  stroke-width: 0.5px;
}
.grid path {
  stroke: none;
}
.withDropDown {
    height: calc(100% - 100px);
    margin-top: 25px;
}
.tooltip {
  opacity: inherit;
  position: absolute;
  height: min-content;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  pointer-events: none;

  text-align: center;
  font-size: clamp(9px, 1.5vw, 15px);
}
.tooltipTop {
  opacity: inherit;
  position: absolute;
  height: min-content;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  pointer-events: none;
  color: #c0c0c0;
  text-align: center;
}
.tooltipGroup {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
  
}
