.xAxis line{
    opacity: 0;
}
.xAxis path{
    opacity: 0;
}
.yAxis line{
    opacity: 0;
}
.yAxis path{
    opacity: 0;
}
.grid line{
    stroke-width: 0.05em;
}
.grid path{
    stroke: none;

}
.svg text{
    font-family: Helvetica
}
.svg {
    height: 100%;
    width: 100%;
}
.svg text{
    font-size: clamp(10px, 1vw, 16px)
}