.dropDownWrapper {
    height: 25px;
    width: 100%;
    
}
.currentSelection {
    width: 50%;
    margin: 0;
    cursor: pointer;
    margin: 0;
    background-color: silver;
    border: 1px solid black;
    color: #FFF;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectionList {
    position: absolute;
    width: 50%;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #FFF;
    border: 1px solid black;
    z-index: 2;
}
.selectionList li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.selectionList li:hover{
    background-color: #EEE;
}
.whiteArrow {
    border-top: 1.2vmin solid #fff;
}