.cardClass {
  background-color: transparent;
}
/* content div inside of Card */
/* first div */
.cardClass > div:nth-child(1) {
  padding: 0px;
}
.row {
  display: flex;
  height: calc(50% - 2.5px);
}
/* top row */
.row:nth-child(1) {
  margin-bottom: 5px;
}
.quadCard {
  width: calc(50% - 2.5px);
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #e0e0e4;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}
/* left card */
.quadCard:nth-child(1) {
  margin-right: 5px;
}
.quadCardTop{
    flex-grow: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
}
.quadCardMid{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.quadCardBottom{
    flex-grow: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
}
